body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-image: url('../imgs/bg.png');
    background-size: cover;
    background-position: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

input[type="submit"], input[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #3e8e41;
}

input[type="submit"]:active, input[type="reset"]:active {
    transform: translateY(2px);
}