body {
    background-image: url("../imgs/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.search-container {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
}

input[type="text"]:focus {
    border: 2px solid #4CAF50;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.color {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

table {
    width: 80%;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.back-link {
    display: block;
    margin-bottom: 20px;
    color: #4CAF50; /* 文字颜色 */
    text-decoration: none; /* 去掉下划线 */
    font-size: 18px;
    transition: all .3s; /* 添加渐变效果 */
}

/* 鼠标移上去时修改文字颜色和加粗 */
.back-link:hover {
    color: #66BB6A;
    font-weight: bold;
}