/* 显示学生信息的样式 */
body {
    background-image: url('../imgs/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
    max-width: 800px;
    width: 90%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button-container a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}

.back-button-container a:hover {
    opacity: 0.8;
}